body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

html {
	font-size: 62.5%;
}

html, body, #root {
	height: 100%;
}

html * {
	outline: none;
	font-family: Roboto, Arial, sans-serif;
}

button.outline {
	color: #000000;
	font-weight: 500;
	border-radius: 0.3rem;
	text-transform: none;
	padding: 0 1.6rem;
	min-height: 3rem;
	background: linear-gradient(to top,rgba(255,255,255,.9),rgba(255,255,255,0));
	background-color: #f2f6fa;
	font-size: 1.1rem;
	border: 1px solid rgba(0,0,0,0.08);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}

button.outline:hover {
	background: linear-gradient(to top,rgba(255,255,255,0),rgba(255,255,255,.9));
	background-color: #f2f6fa;
}

@media only print {
	body {
		background-color: unset;
	}

	button {
		display: none !important;
	}

	div {
		page-break-inside: avoid;
	}
}
